<div class="row">

<div class="col-xs-2 align-middle" style="vertical-align:middle">
<img src="/static/content/100mega_logo.jpg" style="vertical-align:middle" />
</div>

<div class="col-xs-2 align-middle" style="vertical-align:middle">
<img src="/static/content/aaa_logo.png" style="vertical-align:middle" />
</div>

<div class="col-xs-2 align-middle" style="vertical-align:middle">
<img src="/static/content/byznys_logo.png" style="vertical-align:middle" />
</div>

<div class="col-xs-2 align-middle" style="vertical-align:middle">
<img src="/static/content/czjug_logo.png" style="vertical-align:middle" />
</div>

<div class="col-xs-2 align-middle" style="vertical-align:middle">
<img src="/static/content/eltodo_logo.png" style="vertical-align:middle" />
</div>

<div class="col-xs-2 align-middle" style="vertical-align:middle">
<img src="/static/content/eon_logo.jpg" style="vertical-align:middle" />
</div>

<div class="col-xs-2 align-middle" style="vertical-align:middle">
<img src="/static/content/eurosoftware_logo.png" style="vertical-align:middle" />
</div>

<div class="col-xs-2 align-middle" style="vertical-align:middle">
<img src="/static/content/eyelevel_logo.png" style="vertical-align:middle" />
</div>

<div class="col-xs-2 align-middle" style="vertical-align:middle">
<img src="/static/content/lbms_logo.png" style="vertical-align:middle" />
</div>

<div class="col-xs-2 align-middle" style="vertical-align:middle">
<img src="/static/content/lukapo_logo.png" style="vertical-align:middle" />
</div>

<div class="col-xs-2 align-middle" style="vertical-align:middle">
<img src="/static/content/nms_logo.jpg" style="vertical-align:middle" />
</div>

<div class="col-xs-2 align-middle" style="vertical-align:middle">
<img src="/static/content/xorux_logo.png" style="vertical-align:middle" />
</div>

</div>

